.footer{

    background-color: $darkBlue;
    color: $white;

    a{
        color: $white;
    }
    
    &__logo{
    
    }

    &__social{

    }

    &__links{

        &__col1{

        }

        &__col2{

        }

    }

    &__cta{

        a.button{

        }

    }

    &__copyright{

    }

}

